<link rel="stylesheet" href="/css/article_content.css" type="text/css" />

<div class="container">
    <%= render "sidebar" %>
    <div class="main">
        <%= render "article" %>
    </div>
</div>
