<div class="container">
    <%= render template: "feed/_sidebar" %>
    <div class="main">
        <%= form_tag({action: :preview_opml}, multipart: true) do %>
            <%= file_field :opml, :file_name, class: "file_selector_button" %>
            <%= submit_tag "upload", method: :post, class: "submit_button" %>
        <% end %>
    </div>
</div>
