<link rel="stylesheet" href="/css/feed.css" type="text/css" />
<link rel="stylesheet" href="/css/article_content.css" type="text/css" />
<script type="text/javascript" src="/js/feed.js"></script>

<div class="container">
    <%= render template: "feed/_sidebar" %>
    <div class="main">
        ファイル選択 ファイル送信ボタン<br />
        formで作ってボタン押されたらプレビュー画面へ
    </div>
</div>
